$bg_color: #1f1f38;
$variant_bg_color: #2c2c6c;
$primary_color: #4db5ff;
$variant_primary_color: rgba(77, 181, 255, 0.4);
$white_color: #fff;
$light_color: rgba(255, 255, 255, 0.6);

$container_width_lg: 75%;
$container_width_md: 86%;
$container_width_sm: 90%;

$my_transition: all 400ms ease;